<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pixel Painter</title>
	<style>
		.canvas {
			border: 2px solid;
			display: inline-block; 
			/* width:max-content */
			background-color: #fff;
		}
		
	</style>
</head>
<body>
	<div id="app">
		<div class="canvas">
			<canvas @click="handleCanvasClick" ref="canvas" :width="width" :height="height"></canvas>
		</div>
		<button @click="isPickingColor = true">{{isPickingColor?'正在取色':'取色'}}</button>
		<input type="color" v-model="color">
		<label :style="{color:c.value}" v-for="c in commonColors">
			<input type="radio" v-model="color"  :value="c.value">{{c.name}}
		</label>
		
	</div>
</body>
<script src="vue2.6.1.js"></script>
<script>
	const app = new Vue({
		el: '#app',
		data() {
			return {
				pixelData: [],
				commonColors:[{
					name:'red',
					value: '#ff0000'
				},{
					name:'green',
					value:'#00ff00'
				},{
					name:'blue',
					value:'#0000ff'
				}],
				color:'#ff0000',
				width:256,
				height:256,
				isPickingColor:false,
			}
		},
		methods: {
			handleCanvasClick(e) {
				if (this.isPickingColor) {
					this.pickColor(e)
				} else {
					this.drawDot(e)
				}
			},
			rgba2hex(dot) {
				dot = Array.from(dot)
				dot = dot.map(it => it.toString(16).padStart(2,'0'))
				return '#' + dot[0] + dot[1] + dot[2]
			},
			//取色
			pickColor(e) {
				var x = e.layerX
				var y = e.layerY
				var p = this.ctx.getImageData(x,y,1,1).data
				var hexColor = this.rgba2hex(p)
				this.color = hexColor
				this.isPickingColor = false
			} ,
			drawDot(e) {
				this.ws.send(JSON.stringify({
					type:'drawDot',
					x:e.layerX,
					y:e.layerY,
					color:this.color,
				}))
			}
		},
		mounted() {
			var ws = new WebSocket('ws:localhost:9095/pixel')
			this.ws = ws

			var canvas = this.$refs.canvas
			//canvas放大不失真
			canvas.style.imageRendering = 'pixelated'

			var ctx = canvas.getContext('2d')
			this.ctx = ctx

			ws.onmessage = (e) => {
				var data = e.data


				if (Object.prototype.toString.call(data) === '[object Blob]') {
					
					var tmpUrl = URL.createObjectURL(data)
					var image = new Image()
					image.src = tmpUrl 
					image.onload = () => {
						//获取图片地址马上画上去很困难，加个异步延迟执行
						ctx.drawImage(image, 0, 0)
					}
				} else {
					data = JSON.parse(data)
					if (data.type == 'updateDot') {
							ctx.fillStyle = data.color
							ctx.fillRect(data.x, data.y, 1, 1)
					}
				}
			}		
		}
	})
	//问题一 canvas 放大发虚
</script>
</html>