<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pixel Painter</title>
	<style>
		.canvas-wrapper {
			border:2px solid;
			width:max-content;
			position: relative;
			width: 256px;
			height: 256px;
			overflow: hidden;
		}
		canvas {
			position: absolute;
			/* transform:scale(2); */
			box-shadow: 0 0 5px grey;
			transform-origin: top left;
		}
		.color-card {
			display: inline-block;
			width: 22px;
  		height: 22px;
  		margin: 1px 4px;
			border: 1px solid;
  		border-radius: 5px;
  		cursor: pointer;
  		transform-origin: 50% 50%;
		}
		.color-card.active {
			transform: scale(1.2);
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="canvas-wrapper">
			<canvas @mousedown="prepareDrag" ref="canvas" :width="width" :height="height" style="top:0px;left:0px"></canvas>
		</div>
		<button @click="isPickingColor = true">{{isPickingColor?'正在取色':'取色'}}</button>
		<input type="color" v-model="color">
		<div class="common-colors">
			<span v-for=" c of commonColors" @click="color = c" :class="{'color-card':true, active:c==color}" :style="{backgroundColor:c}"></span>
		</div>
		
	</div>
</body>
<script src="vue2.6.1.js"></script>
<script>
	const app = new Vue({
		el: '#app',
		data() {
			return {
				pixelData: [],
				commonColors:["#000000","#ffffff","#aaaaaa","#555555","#fed3c7","#ffc4ce","#faac8e","#f44336","#e91e63","#e2669e"],
				color:'#ff0000',
				width:256,
				height:256,
				isPickingColor:false,
				zoomFactor:1,
			}
		},
		methods: {
			//拖拽功能
			prepareDrag(e) {
				var canvas = this.$refs.canvas
				var startX = e.clientX
				var startY = e.clientY
				var posX = parseInt(canvas.style.left)
				var posY = parseInt(canvas.style.top)
				var moveHandler
				var upHandler

				var moved = false
				// canvas.removeEventListener('click', this.handleCanvasClick)
				canvas.addEventListener('mousemove', moveHandler = e => {
					
					var currX = e.clientX
					var currY = e.clientY
					var diffX = currX - startX
					var diffY = currY - startY
					if (diffX > 1 && diffY > 1) {
						moved  = true
					}
					canvas.style.left = posX + diffX + 'px'
					canvas.style.top = posX + diffY + 'px'
				})
				canvas.addEventListener('mouseup', upHandler = e => {
					canvas.removeEventListener('mousemove', moveHandler)
					canvas.removeEventListener('mouseup', upHandler)
					if (!moved) {
						this.handleCanvasClick(e)
					}

					// Vue.nextTick(() => {
					// 	canvas.addEventListener('click',this.handleCanvasClick)
					// })
				})
			},
			//取色提示鼠标
			makeCursorImgUrl(color) {
				var cursor = document.createElement('canvas')
				var ctx = cursor.getContext('2d')
				cursor.width = 41
				cursor.height = 41

				ctx.beginPath()
				ctx.lineWidth = 2
				ctx.strokeStyle = '#000000'
				ctx.moveTo(0, 6)
				ctx.lineTo(12, 6)
				ctx.moveTo(6, 0)
				ctx.lineTo(6, 12)
				ctx.stroke()

				ctx.beginPath()
				ctx.arc(25, 25, 14, 0, 2 * Math.PI, false)
				ctx.lineWidth = 2
				ctx.strokeStyle = '#000000'
				ctx.stroke()
				ctx.beginPath()
				ctx.arc(25, 25, 13.4, 0, 2 * Math.PI, false)
				ctx.fillStyle = color
				ctx.fill()

				//document.getElementById('canvas').style.cursor = 'crosshair'
				//document.getElementById('canvas').style.cursor = 'url(' + cursor.toDataURL() + ') 6 6, crosshair'
				return cursor.toDataURL() 
			},
			handleCanvasClick(e) {
				if (this.isPickingColor) {
					this.pickColor(e)
				} else {
					this.drawDot(e)
				}
			},
			//颜色转换 将rgb转换成16进制数
			rgba2hex(dot) {
				dot = Array.from(dot)
				dot = dot.map(it => it.toString(16).padStart(2,'0'))
				return '#' + dot[0] + dot[1] + dot[2]
			},
			//鼠标取色提示
			updateCursor(e) {
				var color = this.getCurrHoverColor(e)
				var cursorUrl = this.makeCursorImgUrl(color)
				this.$refs.canvas.style.cursor = `url(${cursorUrl}) 6 6, crosshair`
			},
			startPickingColor() {
				this.isPickingColor = true
				this.$refs.canvas.addEventListener('mousemove',this.updateCursor) 
			},
			getCurrHoverColor(e) {
				var x = e.offsetX
				var y = e.offsetY
				var p = this.ctx.getImageData(x,y,1,1).data
				var hexColor = this.rgba2hex(p)
				return hexColor
			},
			//选完色需要取消鼠标事件以及鼠标的取色提示
			pickColor(e) {
				var hexColor = this.getCurrHoverColor(e)
				this.color = hexColor
				this.isPickingColor = false
				this.$refs.canvas.removeEventListener('mousemove',this.updateCursor)
				this.$refs.canvas.style.cursor = ''
			} ,
			//将画点数据发送给后端
			drawDot(e) {
				var clientX = e.clientX//鼠标相对视口的位置
				var clientY = e.clientY
				var rect = this.$refs.canvas.getBoundingClientRect()//返回元素的大小及其相对于视口的位置
				var x = (clientX - rect.left) / this.zoomFactor
				var y = (clientY - rect.top) / this.zoomFactor

				this.ws.send(JSON.stringify({
					type:'drawDot',
					x:parseInt(x),//e.offsetX,
					y:parseInt(y),//e.offsetY,
					color:this.color,
				}))
			},
			//滚轮放大缩小
			initZoom() {
				var canvas = this.$refs.canvas
				canvas.parentNode.addEventListener('mousewheel', (e) => {
					e.preventDefault()
					if (e.deltaY < 0) {
						this.zoomFactor = this.zoomFactor * 1.25
					}	else {
						this.zoomFactor = this.zoomFactor * 0.8
					} 
					if (this.zoomFactor < 1) {
						this.zoomFactor = 1
					} 
					if (this.zoomFactor > 10) {
						this.zoomFactor = this.zoomFactor * 0.8
					}
					if (this.zoomFactor == 1) {
						canvas.style.left = '0px'
						canvas.style.top = '0px'
					}
					canvas.style.transform = `scale(${this.zoomFactor})`
				})
			}
		},
		mounted() {
			this.initZoom()
			var ws = new WebSocket(`ws://${location.host}/pixel`)//location.host API
			this.ws = ws

			var canvas = this.$refs.canvas
			//canvas放大不失真
			// canvas.addEventListener('click',this.handleCanvasClick)
			canvas.style.imageRendering = 'pixelated'

			var ctx = canvas.getContext('2d')
			this.ctx = ctx

			ws.onmessage = (e) => {
				var data = e.data


				if (Object.prototype.toString.call(data) === '[object Blob]') {
					
					var tmpUrl = URL.createObjectURL(data)
					var image = new Image()
					image.src = tmpUrl 
					image.onload = () => {
						//获取图片地址马上画上去很困难，加个异步延迟执行
						ctx.drawImage(image, 0, 0)
					}
				} else {
					data = JSON.parse(data)
					if (data.type == 'updateDot') {
							ctx.fillStyle = data.color
							ctx.fillRect(data.x, data.y, 1, 1)
					}
				}
			}		
		}
	})
	//问题一 canvas 放大发虚
</script>
</html>